streamlit==1.30.0
pydantic==2.5.0
python-dotenv==1.0.0

numpy==1.26.0
pandas==2.1.0
requests==2.31.0

scikit-learn==1.4.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu

sentence-transformers==2.2.2
transformers==4.36.0
